<div class="p-3">
    <h1 class="title">Bé tập tính</h1>
    <form name="caculate">
        <div id="table">
            <div class="row mb-2">
                <div class="col-3">Số thứ nhất</div>
                <div class="col">
                    <input class="col" type="text" id="1st-num" onfocusout="check_number('1st-num')" name="num1"
                        value="{{num1}}" />
                </div>
                <div class="col">
                    <input type="radio" name="operation" value="plus" />
                    Cộng <input type="radio" name="operation" value="sub" /> Trừ
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">Số thứ hai</div>
                <div class="col">
                    <input type="text" id="2nd-num" onfocusout="check_number('2nd-num')" name="num2" value="{{num2}}" />
                </div>
                <div class="col">
                    <input type="radio" name="operation" value="mul" /> Nhân
                    <input type="radio" name="operation" value="div" />
                    Chia
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-3">Kết quả</div>
                <div class="col">
                    <input type="text" id="result" disabled="disabled" name="result" value="{{result}}" />
                </div>
                <div class="col">
                    <button type="submit">Tính</button>
                </div>
            </div>
            <div class="row">
                <div class="col-3">Thông báo</div>
                <div id="announce" class="col">
                    {{announce}}
                </div>
            </div>
        </div>
    </form>
</div>